@charset "utf-8";

:root {
  --text-color-normal: #333;

  --normal-btn-text-color: ;
  --normal-btn-background-color: ;

  --controlles-message-delete: #9f0d0d;
  --controlles-message-published: ;
  --controlles-message-unpublished: ;

  --news-control-edit-text-color: #0d629f;
  --news-control-delete-text-color: #9f0d0d;

  --published-text-color: #4f9f0d;
  --published-background-color: rgba(79, 159, 13, 0.1);
  --unpublished-text-color: #0d629f;
  --unpublished-background-color: rgba(13, 98, 159, 0.1);

  --news-text-color: rgb(226, 16, 107);
  --news-background-color: rgba(226, 16, 107, 0.1);
  --media-text-color: rgb(16, 149, 226);
  --media-background-color: rgba(16, 149, 226, 0.1);
  --event-text-color: rgba(226, 149, 16, 1);
  --event-background-color: rgba(226, 149, 16, 0.1);

  --content-width: 800px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background: #f8f8f8; */
  color: var(--text-color-normal);
}

p {
  margin: 0;
}

.wrapper {
  margin: 32px auto;
  max-width: var(--content-width);
  width: calc(100% - 32px);
  /* min-height: 80vh; */
}


/**********************************
  headeer
**********************************/

.header {
  border-bottom: 1px solid #ccc;
}

.header__inner {
  padding: 8px 0;
  max-width: var(--content-width);
  width: calc(100% - 32px);
  margin: 0 auto;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  font-size: 16px;
  margin: 0;

  a {
    text-decoration: none;
    color: inherit;
  }
}


/**********************************
  nav
**********************************/

.nav {
  /* margin-top: 32px; */
}

.nav-list {
  display: inline;
  list-style: none;
  padding: 0;
}

.nav-list li {
  display: inline;
}

.nav-btn {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 4px 16px;
  font-size: 12px;
  background: #333;
  color: #f8f8f8;
  border-radius: 4px;
}

.nav-btn--create-news {
  background: #0d629f;
}


/**********************************
  news list
**********************************/

.main {
  margin-top: 32px;
}

.controlls-message {
  font-size: 14px;
}

.controlls-message.delete {
  color: var(--controlles-message-delete);
}

.news-table {
  margin-top: 16px;
  border: 1px solid #000;
  border-collapse: collapse;
  width: 100%;
  line-height: 1.4;
}

.news-table td,
.news-table th {
  border: 1px solid #ccc;
  padding: 8px;
}

.news-table th {
  background: #f8f8f8;
  font-size: 12px;
  /* text-align-last: left; */
}

.news-table td {}

.news-table td:nth-child(1) {
  text-align: center;
  font-size: 12px;
  width: 72px;
}

.news-table td:nth-child(1) span {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
  cursor: pointer;
  user-select: none;
}

.news-table td:nth-child(1) span.isPublished {
  color: var(--published-text-color);
  background: var(--published-background-color);
}

.news-table td:nth-child(1) span.isUnpublished {
  color: var(--unpublished-text-color);
  background: var(--unpublished-background-color);
}

.news-table td:nth-child(2) {
  text-align: center;
  font-size: 12px;
  width: 136px;
}

.news-table td:nth-child(3) {
  text-align: center;
  font-size: 12px;
  width: 80px;
}

.news-table td:nth-child(3) span {
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
}

.news-table td:nth-child(3) span.category--news {
  color: var(--news-text-color);
  background: var(--news-background-color);
}

.news-table td:nth-child(3) span.category--media {
  color: var(--media-text-color);
  background: var(--media-background-color);
}

.news-table td:nth-child(3) span.category--event {
  color: var(--event-text-color);
  background: var(--event-background-color);
}

.news-table td:nth-child(4) {
  font-size: 14px;
  vertical-align: top;
}

.news-table td:nth-child(5) {
  font-size: 12px;
  text-align: center;
  width: 48px;

  a {
    color: var(--news-control-edit-text-color);
  }
}

.news-table td:nth-child(6) {
  font-size: 12px;
  text-align: center;
  width: 48px;

  button {
    all: unset;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    color: var(--news-control-delete-text-color);
  }
}



/**********************************
  create news
**********************************/

.create-news {}

.create-news__item {
  display: block;
  /* margin-top: 16px; */
}

.create-news__item+.create-news__item {
  margin-top: 32px;
}

.create-news__title {
  /* font-size: 14px; */
  margin-bottom: 8px;
  font-weight: bold;
  background: #eee;
  padding: 4px 8px;
  border-radius: 4px;
}

.create-news__detail {
  font-size: 14px;
  /* margin-top: 8px; */
}

.create-news__input,
.create-news__textarea,
.create-news__select {
  margin-top: 8px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 4px;
  color: var(--text-color-normal);
  border: 1px solid #ccc;
  border-radius: 2px;
}

.create-news__input {
  width: 100%;
}

.create-news__select {
  width: 240px;
}

.create-news__textarea {
  width: 100%;
}

.create-news__btn {
  all: unset;
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 14px;
  background: #333;
  color: #f8f8f8;
  border-radius: 4px;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}


.footer {
  margin-top: 48px;
}

.footer {
  /* border-bottom: 1px solid #ccc; */
  background: #f8f8f8;
  text-align: center;
  padding: 8px 0;
}

.copyright {}

.copyright__inner {
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: center;
  gap: 4px;
}

.copyright__copy {
  font-size: 16px;
}

.for-show {
  padding: 16px;
  border: 1px solid #eee;
  background: #f8f8f8;
  border-radius: 4px;
  font-size: 12px;
}