@charset "utf-8";

:root {
  -text-color-normal: #333;

  --normal-btn-text-color: ;
  --normal-btn-background-color: ;

  --controlles-message-delete: #9f0d0d;
  --controlles-message-published: ;
  --controlles-message-unpublished: ;

  --news-control-edit-text-color: #0d629f;
  --news-control-delete-text-color: #9f0d0d;

  --published-text-color: #4f9f0d;
  --published-background-color: rgba(79, 159, 13, 0.1);
  --unpublished-text-color: #0d629f;
  --unpublished-background-color: rgba(13, 98, 159, 0.1);

  --news-text-color: rgb(226, 16, 107);
  --news-background-color: rgba(226, 16, 107, 0.1);
  --media-text-color: rgb(16, 149, 226);
  --media-background-color: rgba(16, 149, 226, 0.1);
  --event-text-color: rgba(226, 149, 16, 1);
  --event-background-color: rgba(226, 149, 16, 0.1);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f8f8f8;
  color: #333;
}

p {
  margin: 0;
}

.wrapper {
  max-width: 640px;
  margin: 80px auto;
}


/**********************************
  headeer
**********************************/

.site-title {
  margin: 0;
  line-height: 1;
}

.site-title__large {
  font-size: 24px;
  display: block;
}

.site-title__small {
  font-size: 14px;
  font-weight: normal;
}

/**********************************
  main
**********************************/


/**********************************
  news
**********************************/

.main {
  margin-top: 48px;
}

.news-wrapper {}

.news {
  padding: 24px;
  background: #fff;
  border-radius: 4px;
}

.news+.news {
  margin-top: 24px;
}

.news__info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.news__time {
  font-size: 12px;
  color: #666;
}

.news__category {
  font-size: 10px;
  /* background: #eee; */
  padding: 2px 8px;
  border-radius: 4px;
  color: #fff;
  background: #333;
}

.news__category--news {
  background: blue;
}

.news__category--media {
  background: green;
}

.news__category--event {
  background: orange;
}

.news__title {
  font-size: 16px;
}

.news__content {
  font-size: 14px;
  line-height: 1.8;
}

.category--news {
  color: var(--news-text-color);
  background: var(--news-background-color);
}

.category--media {
  color: var(--media-text-color);
  background: var(--media-background-color);
}

.category--event {
  color: var(--event-text-color);
  background: var(--event-background-color);
}


.footer {
  margin-top: 48px;
}